* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.top {
  min-height: 768px;
  background: linear-gradient(0deg, #ebf3fb 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.top .header {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  /* list-style: none; */
  list-style-type: none;
}
.top .top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(../img/illustration.png);
  background-repeat: no-repeat;
}
.top .top__info .top__heading {
  width: 510px;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  /* or 116% */
  letter-spacing: 0.04em;
  /* Blue_01 */
  color: #1f3f68;
  margin-bottom: 32px;
}
.top .top__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top .top__text {
  width: 425px;
}
.top .top__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  margin-top: 71px;
  display: inline-block;
  transition: 0.3s ease;
}
.top .top__button:hover {
  color: #fff;
  background: #316596;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}

.what-we-do {
  padding-top: 64px;
}

.heading {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.card-box {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.card {
  width: 359px;
  padding: 44px 32px;
  background: #fff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card-img {
  align-self: center;
  margin-bottom: 51px;
}

.heading-mini {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 14px;
}

.card__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
  margin-top: 30px;
}

.text__project {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  width: 75%;
  margin: 56px auto 64px;
}

.project__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #fff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__item {
  position: relative;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.ptl {
  left: 32px;
  top: 32px;
  right: auto;
  -moz-text-align-last: left;
       text-align-last: left;
}

.footer {
  margin-top: 112px;
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
}
.footer .footer__top {
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__heading {
  width: 340px;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}
.footer .text__footer {
  color: #fff;
}
.footer .footer__text {
  width: 495px;
  color: white;
}
.footer .footer__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  text-decoration: none;
  padding: 15px 80px;
  background: #5a98d0;
}
.footer hr {
  opacity: 0.4;
  border: 1px solid #ffffff;
}
.footer .footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.footer .footer__list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style-type: none;
  margin-right: 32px;
  display: flex;
  flex-grow: 1;
  flex-basis: 33.3333%;
}
.footer .footer__list:first-child::before {
  content: "A.";
  display: block;
  margin-right: 16px;
}
.footer .footer__list:nth-child(2)::before {
  content: "T.";
  display: block;
  margin-right: 16px;
}
.footer .footer__list:last-child::before {
  content: "E.";
  display: block;
  margin-right: 16px;
}
.footer .footer__copy {
  margin-top: 64px;
}
.footer .footer__copy .footer__copy__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media (max-width: 1124px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info {
    background-position: right 280px;
  }
  .card-box {
    flex-direction: column;
    align-items: center;
  }
  .card-box .card {
    margin-bottom: 32px;
  }
  .project__item img {
    width: 100%;
  }
  .pim {
    margin-right: 32px;
  }
  .footer {
    text-align: center;
    padding-top: 48px;
  }
  .footer .footer__button {
    padding: 5px 30px;
  }
  .footer .footer__info {
    flex-direction: column;
  }
  .footer .container {
    margin-right: 92px;
    margin-left: 92px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 16px;
  }
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .top .top__info {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }
  .top .top__heading {
    width: 100%;
    font-size: 32px;
    font-weight: 300;
    line-height: 38;
    text-align: center;
    letter-spacing: 0.4em;
    margin-bottom: 12px;
  }
  .top .top__text {
    width: 100%;
    text-align: center;
  }
  .top .top__button {
    font-size: 12px;
    padding: 0px 8px;
  }
  .what-we-do {
    padding-top: 48px;
  }
  .card {
    width: 100%;
  }
  .project {
    padding-top: 64px;
  }
  .project__parent {
    display: flex;
    flex-direction: column;
  }
  .project__parent .pim {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__button {
    margin: 40px;
  }
  .footer__text {
    width: 100%;
    text-align: center;
  }
  .footer__heading {
    width: 75%;
    margin-right: 0 auto 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__copy {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */